@model EmployeeCollectionModel

<div class="form-inline">
    @Html.Partial("_EmployeeCollection", Model)
</div>
    
@Html.OperationResult(Model.OperationResult)

<script>
    $(function () {
        try {
        } catch (exception) {
            zExceptionMessage("Employee Search.cshtml", "function", exception.message)
        }
    });
</script>
