@model RoleCollectionModel

<div class="form-inline">
    @Html.Partial("_RoleCollection", Model)
</div>
    
@Html.OperationResult(Model.OperationResult)

<script>
    $(function () {
        try {
        } catch (exception) {
            zExceptionMessage("Role Search.cshtml", "function", exception.message)
        }
    });
</script>
