@model AuditTrailConfigurationCollectionModel

<div class="form-inline">
    @Html.Partial("_AuditTrailConfigurationCollection", Model)
</div>
    
@Html.OperationResult(Model.OperationResult)

<script>
    $(function () {
        try {
        } catch (exception) {
            zExceptionMessage("AuditTrailConfiguration Search.cshtml", "function", exception.message)
        }
    });
</script>
