@model MediaTypeCollectionModel

<div id="Ajax">
</div>

<script>
    $(function () {
        try {
            $("#Ajax").load("@(Url.Action("Search", "MediaType", null, Request.Url.Scheme))");
        } catch (exception) {
            zExceptionMessage("MediaType Index.cshtml", "function", exception.message)
        }
    });
</script>